<h2>Please Sign In</h2>
<%= form_for @user, url: '/login' do |f| %>
    <p><%= f.label :username %>
    <%= f.text_field :username %></p>

    <p><%= f.label :password %>
    <%= f.password_field :password %></p>

    <p><%= f.submit "Log In" %></p>
<% end %>