<h2><%= @user.username %></h2>

<p>This user has <%= pluralize(@user.galleries.count, "gallery") %>.</p>

<p>This user has worked <%= @user.medium_hours("watercolor") %> hours in watercolor.</p>

<p> <%= @user.profile %></p>

<br>
<% if logged_in? && current_user == @user %>
<p><%= button_to "Edit My Profile", edit_user_path, method: :get %></p>
<% end %>

<h3>Galleries</h3>
<ul>
<% @user.galleries.each do |g| %>
    <li><%= link_to g.name, gallery_path(g) %></li>
<% end %>
</ul>