<%= form_for(@gallery) do |f| %>
    
    <% if @gallery.errors.any? %>
    <div id="error_explanation">
        <h4>
        <%= pluralize(@gallery.errors.count, "error") %> occurred: 
        </h4>

        <ul>
        <% @gallery.errors.full_messages.each do |msg| %>
            <li class="error"><%= msg %></li>
        <% end %>
        </ul>
    </div>
    <% end %>

    <p><%= f.label :name %>: 
    <%= f.text_field :name %></p>

    <p><%= f.label :description %>:
    <%= f.text_area(:description, size: "50x15") %></p>

    <%= f.submit %>
    <% end %>
